<html><head><title>大话西游</title></head>
<body>
<center>
<img src='/image/3.jpg>
<p>Once there was a trust love to be put before my eyes,but I didn`t cherish it.</p>
<p>Only after losing it I found myself to regret.</p>
<p>No pain in the world comes near this</p>
<p>If God could give me another chance,I would say to the girl "I love you".</p><p>If there had to be a limit of time before the love,I hope it would be ten thousand years.</p>
</center>
</body>
</html>
