<html><head><title>大话西游</title></head>
<body>
<img src='/image/3.jpg' align='center'>
<p align='center'><font size='7'color='pink'>Once there was a trust love to be put before my eyes,but I didn`t cherish it</font></p>
<p align='center'><font size='7'color='pink'>Only after losing it I found myself to regret.</font></p>
<p align='center'><font size='7'color='pink'>No pain in the world comes near this.</font></p>
<p align='center'><font size='7'color='pink'>If God could give me another chance,I would say to the girl "I love you".</font></p>
<p align='center'><font size='7'color='pink'>If there had to be a limit of time before the love,I hope it would be ten thousand years.</font></p>
</center>
</body>
</html>
